[submodule "OpenGL/Deps/glfw"]
	path = OpenGL/Deps/glfw
	url = https://github.com/glfw/glfw
[submodule "OpenGL/Deps/glad"]
	path = OpenGL/Deps/glad
	url = https://github.com/Dav1dde/glad.git
[submodule "Deps/glad"]
	path = Deps/glad
	url = https://github.com/Dav1dde/glad.git
[submodule "Deps/glfw"]
	path = Deps/glfw
	url = https://github.com/glfw/glfw.git
